.page {
    display: block;
    font-family: 'Inter', sans-serif;
    min-width: 1280px;
    background: #2A2C2F;
    box-sizing: border-box;
}

.link {
    cursor: pointer;
    text-decoration: none;
}

/*==========HEADER========*/
.header {
    display: flex;
    min-width: 1184px;
    min-height: 52px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: end;
}

.header__logo {
    min-width: 176px;
    min-height: 52px;
    background: #2A2C2F;
    margin: 28px 0 0 48px;
}

.header__lang {
    margin: 18px 0 6px;
}

.header__lang-link {
    min-width: 30px;
    min-height: 28px;
    margin: 18px;
    background: #2A2C2F;
}

.header__lang-link:hover {}

/*============LEAD=============*/
.lead {
    display: flex;
    min-width: 984px;
    min-height: 1005px;
    justify-content: center;
}

.lead__content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.lead__title {
    display: block;
    min-width: 720px;
    min-height: 200px;
    color: #fff;
    text-align: center;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    flex-wrap: wrap;
    font-style: normal;
}

.lead__subtitle {
    min-width: 640px;
    min-height: 72px;
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    font-style: normal;
}

.lead__image {
    min-width: 984px;
    min-height: 615px;
    width: 100%;
}

.lead__caption {
    min-width: 158px;
    min-height: 14px;
    color: #fff;
    font-weight: 400;
    font-size: 10px;
    font-style: normal;
    text-transform: uppercase;
}

/*===========INTRO===========*/

.intro {
    min-width: 690px;
    min-height: 429px;
    color: #fff;
    margin: 114px 442px 92px 148px;
}

.intro__title {
    padding: 0;
    margin: 0;
    min-width: 690px;
    min-height: 58px;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
}

.intro__text {
    padding: 0;
    margin: 40px 0 33px;
    width: 690px;
    min-height: 208px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
}

.intro__list {
    padding: 0;
    margin: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    text-decoration: none;
    list-style-type: none;
}

/*================PHOTO_GRID========*/

.photo-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    min-width: 1184px;
    min-height: 671px;
}

.photo-grid__item {
    min-width: 284px;
    min-height: 213px;
}

/*===========PLACES===========*

.places {
    position: absolute;
    min-width: 984px;
    min-height: 3392px;
    left: 148px;
    top: 2517px;
}

.places__place {
    position: absolute;
    min-width: 984px;
    min-height: 660px;
    left: 148px;
    top: 2517px;
}

.place__title {
    position: absolute;
    min-width: 460px;
    min-height: 152px;
    left: 148px;
    top: 2517px;
}

.place__image {
    position: absolute;
    min-width: 460px;
    min-height: 460px;
    left: 148px;
    top: 2717px;
}

.place__website {
    position: absolute;
    min-width: 456px;
    min-height: 46px;
    left: 648px;
    top: 2623px;
}

.place__website_url-heading {
    position: absolute;
    min-width: 456px;
    min-height: 12px;
    left: 648px;
    top: 2623px;
}

.place__website_link {
    position: absolute;
    min-width: 456px;
    min-height: 22px;
    left: 648px;
    top: 2647px;
}

.place__paragraph {
    position: absolute;
    min-width: 484px;
    min-height: 145px;
    left: 648px;
    top: 2717px;
}

/*==========COVER============*

.cover {
    position: absolute;
    min-width: 1184px;
    min-height: 740px;
    left: 48px;
    top: 10px;
}

.cover__overlay {
    position: absolute;
    min-width: 1184px;
    min-height: 740px;
    left: 48px;
    top: 10px;
    background: #2A2C2F;
    opacity: 0.3;
}

.cover__title {
    position: absolute;
    min-width: 560px;
    min-height: 152px;
    left: 360px;
    top: 10px;
}

.cover__subtitle {
    position: absolute;
    min-width: 360px;
    min-height: 66px;
    left: 460px;
    top: 30px;
}

.cover__background {
    position: absolute;
    min-width: 1184px;
    min-height: 740px;
    left: 48px;
    top: 10px;
}

/*===========FOOTER=======*

.footer {
    position: absolute;
    min-width: 1184px;
    min-height: 18px;
    left: 48px;
    top: 33px;
}

.footer__links {}

.footer__link {
    position: absolute;
    min-width: 50px;
    min-height: 18px;
    left: 48px;
    top: 6833px;
}

.footer__copyright {
    position: absolute;
    min-width: 186px;
    min-height: 16px;
    left: 1046px;
    top: 6835px;

}