.page {
    display: block;
    font-family: 'Inter', sans-serif;
    background: #2A2C2F;
    box-sizing: border-box;
}

.link {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

.instead_of_margin {
    padding: 0 148px;
}

/*==========HEADER========*/
.header {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: end;
    width: 100%;
}

.header__logo {
    min-width: 176px;
    min-height: 52px;
    background: #2A2C2F;
    margin: 28px 0 0 48px;
}

.header__lang {
    margin: 18px 0 6px;
}

.header__lang-link {
    min-width: 30px;
    min-height: 28px;
    margin: 18px;
    background: #2A2C2F;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}

.header__lang-link:focus {
    text-decoration: underline;
}

@media screen and (max-width: 1279px) {
    .header {
        max-width: 928px;
        padding: 28px 0 48px;
    }
}

@media screen and (max-width: 1023px) {
    .header {
        width: 720px;
    }
}

@media screen and (max-width: 767px) {
    .header {
        width: 288px;
        padding: 16px 0 40px;
    }
}

@media screen and (max-width: 400pxpx) {
    .header {
        width: 188px;
    }
}

/*============LEAD=============*/
.lead {
    display: flex;
    min-width: 984px;
    justify-content: center;
    padding: 56px 148px 8px;
}

@media screen and (max-width: 1279px) {
    .lead {
        max-width: 928px;
    }
}

@media screen and (max-width: 1023px) {
    .lead {
        max-width: 768px;
    }
}

@media screen and (max-width: 767px) {
    .lead {
        max-width: 500;
    }
}

@media screen and (max-width: 400px) {
    .lead {
        max-width: none;
    }
}

.lead__content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.lead__title {
    display: block;
    min-width: 720px;
    min-height: 200px;
    color: #fff;
    text-align: center;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 900;
    font-size: 96px;
    line-height: 1;
    flex-wrap: wrap;
    font-style: normal;
}

@media screen and (max-width: 767px) {
    .lead__title {
        padding: 0 0 16px;
        font-size: 40px;
        line-height: 44px;
        max-width: 288px;
    }
}

.lead__subtitle {
    min-width: 640px;
    min-height: 72px;
    color: #fff;
    text-align: center;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 1;
    font-style: normal;

}

@media screen and (max-width: 1279px) {
    .lead__subtitle {
        padding: 0 0 56px;
    }
}

@media screen and (max-width: 767px) {
    .lead__subtitle {
        padding: 0 0 40px;
        font-size: 16px;
        line-height: 20px;
        max-width: 288px;
    }
}

.lead__image {
    min-width: 984px;
    min-height: 615px;
    width: 100%;
}

@media screen and (max-width: 767px) {
    .lead__image {
        max-width: none;
        padding: 0;
        margin: 0;
    }
}

.lead__caption {
    font-family: 'Inter';
    min-width: 158px;
    min-height: 14px;
    color: #fff;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    font-size: 10px;
    font-style: normal;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

/*===========INTRO===========*/

.intro {
    min-width: 690px;
    min-height: 429px;
    color: #fff;
    margin: 114px 442px 92px 148px;
}

.intro__title {
    padding: 0;
    margin: 0;
    min-width: 690px;
    min-height: 58px;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 1;
}

.intro__text {
    padding: 0;
    margin: 40px 0 33px;
    width: 690px;
    min-height: 208px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
}

.intro__list {
    padding: 0;
    margin: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1;
    text-decoration: none;
    list-style-type: none;
}

/*================PHOTO_GRID========*/

.photo-grid {
    margin: 0 auto;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
    min-width: 284px;
}

.photo-grid__item {
    display: block;
    width: 100%;
}

@media screen and (max-width: 400px) {
    .photo-grid {
        grid-template-columns: 1fr;
        width: 100%;
    }
}

/*===========PLACES===========*/

.places {
    padding: 12px 0 0 0;
    min-width: 984px;
    color: #fff;
}

.places__place {
    margin: 80px auto;
    display: grid;
    grid-gap: 0 40px;
    min-width: 984px;
    min-height: 660px;
    justify-content: center;
    grid-template-areas:
        "title website"
        "image paragraph";
}

.place__title {
    margin: 0;
    padding: 0;
    grid-area: title;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.7;
    min-width: 460px;
    min-height: 152px;
    text-decoration: none;
    list-style-type: none;
    text-align: start;
}

.place__image {
    display: block;
    grid-area: image;
    max-width: 460px;
    max-height: 460px;
    width: 100%;
    text-decoration: none;
    list-style-type: none;
    object-fit: cover;
}

.place__website {
    margin: 0;
    padding: 0;
    grid-area: website;
    min-width: 456px;
    min-height: 46px;
    text-decoration: none;
    list-style-type: none;
}

.place__website_url-heading {
    margin: 0;
    padding: 0;
    min-width: 456px;
    min-height: 12px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    text-decoration: none;
    list-style-type: none;
    text-decoration-line: underline;
}

.place__website_link {
    margin: 0;
    padding: 0;
    min-width: 456px;
    min-height: 22px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.7;
    text-decoration: none;
    list-style-type: none;
    text-decoration-line: underline;
}

.place__paragraph {
    margin: 0;
    padding: 0;
    grid-area: paragraph;
    width: 484px;
    min-height: 145px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.7;
    text-decoration: none;
    list-style-type: none;
}

/*==========COVER============*/

.cover {
    margin: 0 auto;
    padding: 0 0 32px;
    display: flex;
    flex-direction: column;
    color: #fff;
    max-width: 1184px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url(./image/cover-trains.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    position: relative;
    width: 1184px;
    min-height: 740px;
}

.cover::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #2A2C2F;
    z-index: 1;
    opacity: 0.5;
    transition: opacity 200ms ease-in-out;
}

.cover:hover:before {
    opasity: 0.8;
}

.cover__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.cover__title {
    margin: 0;
    padding: 0;
    display: flex;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.15;
    min-width: 560px;
    z-index: 3;
}

.cover__subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 1.25;
    font-size: 18px;
    z-index: 3;
}

/*===========FOOTER=======*/

.footer {
    max-width: 1280px;
    padding: 92px 48px 24px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

@media screen and (max-width: 1279px) {
    .footer {
        min-width: 928px;
    }
}

@media screen and (max-width: 1023px) {
    .footer {
        padding: 88px 0 24px;
        min-width: 720px;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        padding: 68px 0 24px;
        min-width: calc(320px - 16px * 2);
        flex-direction: column;
        align-items: flex-start;
    }
}

.footer__links {
    display: flex;
    gap: 18px;
    justify-content: flex-start;
}

@media screen and (max-width: 767px) {
    .footer__links {
        flex-direction: column;
    }
}

.footer__link {
    margin: 0;
    padding: 0;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
}

.footer__link:hover {
    opacity: 0.8;
}


@media screen and (max-width: 767px) {
    .footer__link {
        font-size: 24px;
    }
}

.footer__copyright {
    margin: 0;
    padding: 0;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    text-align: right;
}