.places_pos {
    margin: 0 148px 92px;
}
@media screen and (max-width: 1279px) {
    .places_pos {
            margin: 0 auto 92px;
        }
}
@media screen and (max-width: 1023px) {
    .places_pos {
            margin-bottom: 90px;
        }
}
@media screen and (max-width: 767px) {
    .places_pos {
            margin: 0 0 66px;
        }
}