.cover__subtitle {
    padding: 0;
    margin: 32px 0 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    z-index: 3;
    max-width: 360px;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 1.14;
        margin-top: 16px;
    }
}