.places-place__paragraph {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    grid-area: paragraph;
    max-width: 484px;
}

@media screen and (max-width: 1279px) {
    .places-place__paragraph {
        max-width: 456px;
    }
}

@media screen and (max-width: 1023px) {
    .places-place__paragraph {
        max-width: 352px;
    }
}