.intro__text {
    padding: 0;
    margin: 0 0 33px;
    max-width: 690px;
    min-height: 208px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.63;
}
@media screen and (max-width: 1279px) {
    .intro__text {
            max-width: 720px;
        }
}
@media screen and (max-width: 767px) {
    .intro__text {
            margin-bottom: 34px;
        }
}