.places-place {
    display: grid;
    gap: 48px 40px;
    width: fit-content;
    grid-template-areas:
        "title website"
        "image paragraph";
    max-width: fit-content;
}

.places-place:not(:last-child) {
    margin-bottom: 80px;
}

@media screen and (max-width: 1279px) {
    .places-place {
        gap: 48px 32px;
    }
}

@media screen and (max-width: 1023px) {
    .places-place {
        gap: 47px 28px;
    }
}

@media screen and (max-width: 1023px) {
    .places-place:not(:last-child) {
        margin-bottom: 72px;
    }
}

@media screen and (max-width: 767px) {
    .places-place {
        grid-template-areas:
            "title"
            "website"
            "image"
            "paragraph";
        gap: 32px;
        min-width: 288px;
    }
}

@media screen and (max-width: 767px) {
    .places-place:not(:last-child) {
        margin-bottom: 50px;
    }
}