.place__paragraph_items {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    grid-area: paragraph;
    max-width: 484px;
}
@media screen and (max-width: 1279px) {
    .place__paragraph_items {
            max-width: 456px;
        }
}
@media screen and (max-width: 1023px) {
    .place__paragraph_items {
            max-width: 352px;
        }
}