.footer_pos {
    margin: 92px auto 24px;
}
@media screen and (max-width: 1023px) {
    .footer_pos {
            margin: 88px 24px 24px;
        }
}
@media screen and (max-width: 767px) {
    .footer_pos {
            margin: 64px 16px 24px;
        }
}