.places-place__item {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.63;
}

.places-place__item:not(:last-child) {
    margin-bottom: 26px;
}

@media screen and (max-width: 1023px) {
    .places-place__item {
        font-size: 16px;
    }
}


@media screen and (max-width: 767px) {
    .places-place__item {
        max-width: 288px;
        margin: 0 16px;
    }

    .places-place__item:not(:last-child) {
        margin-bottom: 25px;
    }
}